<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" %>
<style>
  .handle:hover{cursor: move;}
</style>

<ul id="milestones">
  <li id="milestone_<%= milestone.id %>">
    <span class="handle">[drag]</span><%= milestone.title %>
  </li>
</ul>
