<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %> <br>
        <%= @user.username %> <br>
        <%= image_tag(@user.profile_picture) %>
      </h1>     
    </td>    
  </tr>
</table>