<% if signed_in? %>
  <%= link_to "user profile", current_user %>
<% else %>
  <body  id="homeBody">
    <table>
      <tr>
        <th id="statement">
          <h1>Achieve your goals</h1>
          <h2>
            A community for creating,<br>
            sharing, and pursuing<br>
            your goals
          </h2>
        </th>
        <th id="homeSearchBox">
          <%= form_for(:session) do |f| %>
              <%= f.text_field :Search, :placeholder => "Find your goal", :class=>"field", :id=>"homeSearchField" %>
              <%= f.submit "Find", :class=>"actions", :id=>"homeSearchButton" %>
          <% end %>
        </th>
      </tr>
    </table>
  </body>
<% end %>
 