<% if signed_in? %>
  <%= link_to "user profile", :controller => "users", :action => "show", :id => current_user.username %>
<% else %>
  <body id="homeBody">
    <div id="homeContainer">
      <div id="homeText">
            <h1>
              Achieve your goals
            </h1>
        
          <h2> 
            A community for creating,<br>
            sharing, and pursuing<br>
            your goals
          </h2>
      </div>
      
      <%= form_for :session, :method => :get do |f| %>
        <%= f.text_field :Search, :placeholder => "Find a goal", :class=>"field round", :id=>"homeSearchField" %>
      <% end %>
    </div>
  </body>
<% end %>
 